@use 'variables' as *;
@use 'messages' as *;

.login {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;

    h2 {
        color: $dark_brown;
        text-align: center;
        margin: 0;
    }

    p {
        margin: 0.7em 0 2em;
    }

    .error-message {
        margin: 0;
        margin-top: 20px;
    }

    
    
    &-form {
        @extend .message-form !optional;

        &-wrap {
            width: 100%;
            max-width: 500px;

            .loader {
                margin-inline: auto;
            }
        }

        &-input {
            @extend .message-form-input !optional;
        }

        &-submit {
            @extend .message-form-submit !optional;
            transition: 0.2s ease;
        }

        &--waiting {
            .login-form-submit {
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }
}